{% load static %}

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% block title %}

		{% endblock %}
	</title>
	<!-- Stylesheets -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/js/masterslider/style/masterslider.css' %}">
	<link rel="stylesheet" href="{% static 'main/js/masterslider/skins/black-2/style.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/owl.carousel.css' %}">

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="main-wrapper">
        <header id="header">
			<div class="header-top-bar">
				<div class="container">
					<div class="landing-logo">
						<a href="/"><img src="{% static 'main/img/header-logo.png' %}" alt=""></a>
					</div>
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="header-login">
								{% if user.is_authenticated %}
									<a href="#">Logged in as {{ user.username }}</a>
									<a href='{% url "main:logout" %}'>Logout</a>
								{% else %}
									<a href='{% url "main:login" %}'>Login</a>
									<a href='{% url "main:register" %}'>Register</a>
								{% endif %}
							</div>
							<!-- end .header-login -->
							<!-- Header Social -->
							<ul class="header-social">
								<li><a href="#"><i class="fa fa-facebook-square"></i></a>
								</li>
								<li><a href="#"><i class="fa fa-twitter-square"></i></a>
								</li>
								<li><a href="#"><i class="fa fa-google-plus-square"></i></a>
								</li>
							</ul>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<p class="call-us">
								Call Us: <a class="font" href="#">+1123 4567</a>
								<span class="open-now"><i class="fa fa-check-square"></i>We are open now(9am-10pm)</span>
								<span class="close-now"><i class="fa fa-square"></i>We are close now(10pm-9am)</span>
							</p>
						</div>
					</div>
					<!-- end .container -->
				</div>
			</div>
			<!-- end .header-top-bar -->

			<div class="header-nav-bar">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">
								<img src="img/header-logo.png" alt="">
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Home</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="menu(view-1).html">Menu( view-1 )</a></li>
										<li><a href="menu(view-2).html">Menu( view-2 )</a></li>
										<li><a href="menu-without-side-panel.html">Menu( grid-view )</a></li>
										<li><a href="single-menu.html">Single Menu</a></li>
										<li><a href="menu(2grid-list).html">Menu( 2grid-list-view )</a></li>
										<li><a href="menu-with-right-checkout.html">Menu( with-checkout )</a></li>
										<li><a href="dish.html">Dish</a></li>
										<li><a href="dish-with-no-sidebar.html">Dish ( No Sidebar )</a></li>
										<li><a href="shortcodes.html">Shortcodes</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Branches<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										{% for branch in branches %}
											<li><a href="#">{{ branch.name }}</a></li>
										{% endfor %}
									</ul>
								</li>
								<li><a href='{% url "main:about" %}' >About us</a>
								</li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
			</div>
			<!-- end .header-nav-bar -->
			<!-- small menu section -->
			<!--end .small-menu -->
		</header>
		<!-- end #header -->

		<!-- all page-content start -->
		{% block content%}

		{% endblock %}

		</div> <!-- end .page-content -->


	<!-- end #main-wrapper -->
	<!-- Scripts -->
	<!-- CDN jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Local jQuery -->
	<script>
	window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
	</script>
	<script src="{% static 'main/js/masterslider/masterslider.min.js' %}"></script>
	<script src="{% static 'main/js/owl.carousel.js' %}"></script>
	<script src="{% static 'main/js/bootstrap.js' %}"></script>



	<script>

		var slider = new MasterSlider();
		slider.setup('masterslider', {
			width: 1140,
			height: 600,
			space: 5,
			fullwidth: true,
			speed: 25,
			view: 'flow',
			centerControls: false
		});
		slider.control('bullets', {
			autohide: false
		});
	</script>

</body>
<style>
	body {
	background-color: #212121;
	color: white
	}
</style>

</html>
