{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<div class="landing-link">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="box-link">
					<figure>
						<img src="{% static 'main/img/content/order-online.jpg' %}" alt="">
						<h4><a href='{% url "main:order" %}'>1. Order Online</a></h4>
						<figcaption>
							<a href='{% url "main:order" %}'><i class="fa fa-laptop"></i></a>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="col-md-6">
				<div class="box-link">
					<figure>
						<img src="{% static 'main/img/content/landing-about-us.jpg' %}" alt="">
						<h4><a href='{% url "main:about" %}'>2. About Us</a></h4>
						<figcaption>
							<a href='{% url "main:about" %}'><i class="fa fa-user"></i></a>
						</figcaption>
					</figure>
				</div>
			</div>
		</div> <!-- end .row -->
	</div> <!-- end .container -->
</div>


{% endblock %}



